@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
    --primary: #009EDF;
    --secondary: #95989A;
    --text-color: #fff;
    --text-secondary: #000;
    --text-tertiary: #5d5d5d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin-bottom: 350px;
}

/*Event Header*/

.event {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(images/img1.jpg);
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    color: var(--text-color);
    justify-content: space-around;
    align-items: center;
}

.event-description h2,
.event-date{
    color: var(--primary);
}

.event-description h2 {
    font-size: 4em;
    margin-bottom: 1em;
}

.event-description .about-event {
    font-size: 2em;
    max-width: 450px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1em;
}

.event-description p {
    font-size: 1.2em;
    margin-bottom: .4em;
}

.event-date {
    font-weight: bold;
    font-size: 1.4em;
}

.subscription-form {
    background-color: var(--secondary);
    padding: 2em;
    max-width: 22%;
    border-radius: 8px;
}

.subscription-form p {
    margin-bottom: 1em;
    color: var(--text-secondary);
    font-size: 1.4em;
    font-weight: 500;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: .8em;
}

.form-group label {
    color: var(--text-tertiary);
    font-weight: bold;
    margin-bottom: .3em;
}

.form-group input,
.form-group select {
    padding: 6px 8px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.btn {
    background-color: var(--primary);
    padding: 10px;
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    width: 100%;
    text-transform: uppercase;
    font-size: 1em;
    cursor: pointer;
    opacity: .8;
}

.btn:hover {
    opacity: 1;
}

/*about-benefits*/

.about-benefits h2 {
    background-color: var(--secondary);
    text-align: center;
    padding: 2em;
    font-weight: 500;
    font-size: 1.6em;
}

.benefits {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 4em;
    width: 80%;
}

.benefit {
    text-align: center;
}

.benefit p {
    font-size: 1.1em;
    font-weight: 600;
}

.benefit-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 1em;
    background-size: cover;
}

#benefit-1 {
    background-position: bottom center;
    background-image: url(images/control.jpg);
}

#benefit-2 {
    background-position: center;
    background-image: url(images/focus.jpg);
}

#benefit-3 {
    background-position: center;
    background-image: url(images/muscle-mass.jpg);
}

/*Location*/
.location {
    height: 450px;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(images/location.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1em;
    color: var(--text-color);
}

.addres,
.about-location {
    max-width: 30%;
}

.addres {
    display: flex;
}

.addres i {
    font-size: 3.5em;
    color: var(--primary);
    margin-right: .5em;
}

.addres-details p {
    text-align: center;
    font-size: 1.3em;
}

.about-location h3 {
    color: var(--primary);
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.about-location p {
    font-size: 1em;
    line-height: 1.5;
}